@model quiz.Models.Question

@{
    ViewData["Title"] = "Delete";
}
<div class="container-fluid px-4">
    <h1 class="mt-4">Dashboard</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active"><a asp-controller="Admin" asp-action="AdminPanel" style="color: inherit; text-decoration: none;">Admin Panel</a></li>
        <li class="breadcrumb-item active">Question</li>
    </ol>
    <h1>Delete</h1>

    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Question</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.QuestionText)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.QuestionText)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.QuestionFeedback)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.QuestionFeedback)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.QuestionLevel)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.QuestionLevel)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.QuestionIsActive)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.QuestionIsActive)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="QuestionId" />
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a asp-action="Index">Back to List</a>
        </form>
    </div>
</div>
